.piechart{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.piechart_sec{
    padding:1rem;
    width: 40%;
    
    
}
.piechart_sec p{
   margin:1rem 0;
}